@page "/"

<PageTitle>Event Registration</PageTitle>

<h1>Event Registration</h1>

 <StatusPage Status="@DisplayStatus" />

<br />
<br />
<div class="grid-container">
    <div class="grid-item" style="font-weight: bold; text-align: left;">Booking ID:</div>
    <div class="grid-item" style="font-weight: bold; text-align: left; color: red;">@BookingID</div>

    <div class="grid-item" style="font-weight: bold; text-align: left;">Current State:</div>
    <div class="grid-item" style="font-weight: bold; text-align: left; color: red;">@CurrentState</div>

    <div class="grid-item" style="font-weight: bold; text-align: left;">Attendee Name:</div>
    <div class="grid-item" style="font-weight: bold; text-align: left; color: red;">@Attendee</div>

    <div class="grid-item" style="font-weight: bold; text-align: left;">Tickets:</div>
    <div class="grid-item" style="font-weight: bold; text-align: left; color: red;">@TicketCount</div>
</div>
<br />
<br />

<CascadingValue Value="Attende">
    <EntryPage Show="@displayEntryPage"/>
</CascadingValue>

<br />
<br />

<div class="button-group">
    <button @onclick="NewBooking">New Booking</button>
    <button @onclick="Submit">Submit</button>
    <button @onclick="Cancel">Cancel</button>
    <button @onclick="DatePassed">Date Passed</button>
</div>