@page "/"

<h3>ATM State Pattern Example</h3>

<div>
    <div>
        <button @onclick="InsertCard" disabled="@isInsertCardDisabled">Insert Card</button>
        <br />
        <br />
        <button @onclick="EjectCard" disabled="@isEjectCardDisabled">Eject Card</button>
        <br />
        <br />
        <button @onclick="EnterPin" disabled="@isEnterPinDisabled">Enter Pin</button>
        <br />
        <br />
        <button @onclick="RequestCash" disabled="@isRequestCashDisabled">Request Cash</button>
    </div>
</div>

<p>@statusMessage</p>
